<div id="menuContainer">
    <div class="item branding" routerLink="/home">
        <img id="main-logo" src='assets/img/logo_live.png' alt="logo de platzinger">
        Platzinger
    </div>
    <div class="item" routerLink="/profile">
        Profile
    </div>
    <div *ngIf="router.url === '/home' || router.url === '/'" class="item float-right">
        <span> {{ city }}, {{ state }} </span>
    </div>
    
</div>

<!-- No hacen falta.
<a routerLink="/home">Home</a> |
    <a routerLink="/profile">Profile</a> |
    <a routerLink="/login">Login</a> |
-->