<div id="menuContainer">
    <div class="item branding" routerLink="/home">
        <img id="main-logo" src='assets/img/logo_live.png' alt="logo de platzinger">
        Platzinger
    </div>
    <div class="item" routerLink="/profile">
        Perfil
    </div>
    <div *ngIf="router.url === '/home' || router.url === '/' || !router.url==='/profile'" (click)="logOut()" class="item btn btn-danger pt-1 pb-2 ml-1">
        <a  class="text-center">Salir</a>
    </div>
    <div *ngIf="!router.url === '/home' || !router.url === '/' || router.url === '/profile'" (click)="logOut()" class=" float-right item btn btn-danger">
        <a  class="text-center">Salir</a>
    </div>
    <div *ngIf="router.url === '/home' || router.url === '/'" id="idCity" class="item float-right">
        <span> {{ city }}, {{ state }} </span>
    </div>
    
</div>

<!-- No hacen falta.
<a routerLink="/home">Home</a> |
    <a routerLink="/profile">Profile</a> |
    <a routerLink="/login">Login</a> |
-->